@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first-color: rgb(255, 255, 255);
  --second-color: rgb(0, 155, 255);
  --third-color: rgba(0, 0, 0, 0.7);
  --fourth-color: rgba(0, 155, 255, 0.2);
  --fifth-color: rgb(0, 0, 0, 1);
  --sixth-color: rgb(52, 52, 152);
}

html,
body 
{
  min-height: 100vh;
  min-width: 280px;
  max-width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}