 /* Estilos do conteúdo principal (main) */
 main {
    flex-grow: 1;
    color: #fff;
    z-index: 0;
  }

  main h1,
  main section p {
    text-align: center;
    margin: 0;
  }

  /* Estilos do rodapé (footer) */
  footer {
    flex-grow: 0;
  }

   /* Efeito de vidro */


  /* Estilos do section (home) */

  section {
    min-height: 100vh;
  }


  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(25, 25, 25, 1);
    padding: 12px;
    background-color: rgb(225, 225, 225);
  }


  #home h1 {
    font-size: 36px;
    font-weight: bold;
    z-index: 5;
  }

  #home p {
    z-index: 5;
  }

  .home-button {
      background: rgba(25, 25, 255, 0.3);
      border: none;
      box-shadow: 0px 0px 2px 1px rgb(0, 0, 0);
      padding: 6px;
      color: rgba(255, 255, 255, 1);
      font-weight: bold;
      backdrop-filter: blur(3px);
      max-width: 50%;
      border-radius: 3px;
      margin-top: 24px;
      margin-bottom: 12px;
      transition: 0.5s;
      z-index: 5;
    }

  .home-button:active,
  .home-button:hover {
    background: rgba(0, 10, 255, 0.5);
    color: rgba(255, 255, 255, 1);
  } 

  /* Estilos do section (themes) */

  #services {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 12px; 
    color: rgb(25, 25, 25);
    background-color: rgb(25, 25, 25);
  }

  #services h1 {
    font-size: 36px;
    font-weight: bold;
    color: rgb(225, 225, 225);
  }

  #services > div {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 12px;
  }


  #services h1 {
    padding: 12px 0;
    text-align: center;
  }

  #services table {
    text-align: center;
  }

  #services thead th {
    background-color: rgb(220, 220, 220);
  }

  #services table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: rgba(180, 180, 180, 1);
  }

  #services table td {
    padding: 12px;
    border-top: 3px rgba(0, 0, 0, 0.5) solid;
  }

  #services table th{
    padding: 12px;
  }

  #services small{
    color: rgb(225, 225, 225);
    text-align: center;
    padding: 12px 12px;
  }

  /* Estilos do section (gallery) */

  #gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(25, 25, 25);
    background-color: rgb(225, 225, 225);
  }
  
  #gallery h1 {
    font-size: 36px;
    font-weight: bold;
    padding: 12px 0;
    color: rgb(25, 25, 25);
  }

  #gallery article {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 2rem;
    max-width: 1024px;
    gap: 2rem;
  }
  
  #gallery .title-container {
    max-width: 47%;
    padding-bottom: 3rem;
    background-color: rgb(25, 25, 25);
    color: rgb(225, 225, 225);
    box-sizing: border-box;
  }

  #gallery div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }


  #gallery h2 {
    font-weight: bold;
    text-align: center;
    padding: 12px 0;
  }

  #gallery button {
    width: 50px;
    height: 50px;
    position:absolute;
    top:50%;
    background-color: rgba(25, 25, 25, 0.5);
    color: rgb(225, 225, 225);
    transition: 0.75s;
  }

  #gallery button:hover {
    background-color: rgba(25, 25, 25, 0.85);
  }

  #gallery #prevBtn {
    left:0%;
    transform:translate(0%,-50%);
  }

  #gallery #nextBtn {
    right:0%;
    transform:translate(0%,-50%);
  }




